# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/unihub?schema=public"

# Admin Defaults
ADMIN_DEFAULT_EMAIL="admin@unihub.local"
ADMIN_DEFAULT_PASSWORD="SecurePassword123!"

# Authentication Keys (RS256)
# Generate via:
# ssh-keygen -t rsa -b 4096 -m PEM -f jwtRS256.key
# openssl rsa -in jwtRS256.key -pubout -outform PEM -out jwtRS256.key.pub
JWT_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----...-----END RSA PRIVATE KEY-----"
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----...-----END PUBLIC KEY-----"

# Redis
REDIS_URL="redis://localhost:6379"
